wcf/BierenServiceLibrary/ConsoleBierenClient/Service References/BierenServiceReference/BierenServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BierenServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BierenServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bier" nillable="true" type="tns:Bier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBier" nillable="true" type="tns:ArrayOfBier" />
  <xs:complexType name="Bier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alcohol" type="xs:decimal" />
      <xs:element minOccurs="0" name="BierNr" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bier" nillable="true" type="tns:Bier" />
</xs:schema>