wcf/BierenServiceLibrary/ConsoleBierenClient/Service References/BierenServiceReference/bierenservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://vdab.be/bierenservice" elementFormDefault="qualified" targetNamespace="http://vdab.be/bierenservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BierenServiceLibrary" />
  <xs:element name="GetTotaalAantalBieren">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotaalAantalBierenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotaalAantalBierenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAantalBierenTussenAlcohol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="van" type="xs:decimal" />
        <xs:element minOccurs="0" name="tot" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAantalBierenTussenAlcoholResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAantalBierenTussenAlcoholResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBierenMetWoord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="woord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBierenMetWoordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BierenServiceLibrary" minOccurs="0" name="GetBierenMetWoordResult" nillable="true" type="q1:ArrayOfBier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrafsteBieren">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrafsteBierenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BierenServiceLibrary" minOccurs="0" name="GetStrafsteBierenResult" nillable="true" type="q2:ArrayOfBier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>