XML/oef-2_1.dtd

<?xml version="1.0" encoding="UTF-8"?>
	<!ELEMENT Boek (Titel, Schrijver, Uitgever, Curriculum, Onderwerp)>
	<!ATTLIST Boek
		boeknr CDATA #REQUIRED
		isbn CDATA #REQUIRED
	>
	<!ELEMENT Titel (#PCDATA)>
	<!ELEMENT Schrijver (#PCDATA)>
	<!ELEMENT Uitgever (#PCDATA)>
	<!ELEMENT Curriculum (Naam, Beroepencode)>
	<!ATTLIST Curriculum
		nr CDATA #REQUIRED
	>
	<!ELEMENT Naam (#PCDATA)>
	<!ELEMENT Beroepencode (#PCDATA)>
	<!ELEMENT Onderwerp (#PCDATA)>
	<!ATTLIST Onderwerp 
		nr CDATA #REQUIRED
	>