wcf/BierenServiceLibrary/ConsolePlantenClient/Service References/ServiceReference1/PlantenServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlantenServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlantenServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Plant" nillable="true" type="tns:Plant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlant" nillable="true" type="tns:ArrayOfPlant" />
  <xs:complexType name="Plant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nummer" type="xs:int" />
      <xs:element minOccurs="0" name="Prijs" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plant" nillable="true" type="tns:Plant" />
</xs:schema>