wcf/BierenServiceLibrary/ConsolePlantenClient/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PlantenServiceLibrary" />
  <xs:element name="PlantenMinimumprice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minPrijsDecimal" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlantenMinimumpriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PlantenServiceLibrary" minOccurs="0" name="PlantenMinimumpriceResult" nillable="true" type="q1:ArrayOfPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>