XML/bestanden/3_15_met_namespace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.vdab.be/XML" 
targetNamespace="http://www.vdab.be/XML" 
elementFormDefault="qualified">
	<xs:element name="boek">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="boek_id" type="xs:integer"/>
				<xs:element name="titel" type="xs:string"/>
				<xs:element name="schrijver" type="xs:string"/>
				<xs:element name="uitgever" type="xs:string"/>
				<xs:element name="isbn_nr" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

